<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-supportsdk" version="1.3.14" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>SupportSDK</name>
    <author>Larry Borsato</author>
    <license>Apache 2.0 License</license>
    <!-- <info>
      If video/screen sharing is not required the <activity android:name="com.goboomtown.supportsdk.activity.VideoActivity"...> and <framework src="com.twilio:video-android:5.11.1" /> lines may be commented out for a smaller .apk file.
    </info> -->

    <js-module name="SupportSDK" src="www/SupportSDK.js">
        <clobbers target="supportsdk" />
    </js-module>

    <platform name="android">
      <config-file target="config.xml" parent="/*">
        <feature name="SupportSDK">
          <param name="android-package"
             value="com.goboomtown.plugin.supportsdk.SupportSDK"/>
        </feature>
      </config-file>
      <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <activity android:name="com.goboomtown.plugin.supportsdk.SupportActivity" android:theme="@style/AppTheme" android:clearTaskOnLaunch="true" android:configChanges="orientation|keyboardHidden|screenSize" android:windowSoftInputMode="stateAlwaysHidden" android:exported="false" />
        <activity android:name="com.goboomtown.supportsdk.activity.VideoActivity" android:theme="@style/AppTheme" android:configChanges="orientation|keyboardHidden|screenSize|uiMode" />
        <activity android:name="com.goboomtown.activity.KBActivity" android:theme="@style/AppTheme" android:configChanges="orientation|keyboardHidden|screenSize|uiMode" />
      </config-file>

      <config-file target="AndroidManifest.xml" parent="/manifest">
        <uses-permission android:name="android.permission.CAMERA"/>
        <uses-permission android:name="android.permission.FLASHLIGHT"/>
        <uses-feature android:name="android.hardware.camera" android:required="true"/>
      </config-file>

      <source-file src="src/android/SupportSDK.java"
        target-dir="src/com/goboomtown/plugin/supportsdk" />
      <source-file src="src/android/SupportActivity.java"
        target-dir="src/com/goboomtown/plugin/supportsdk" />

      <resource-file src="src/android/activity_support.xml" target="res/layout/activity_support.xml" />
      <resource-file src="src/android/support_layout.xml" target="res/layout/support_layout.xml" />
      <resource-file src="src/android/support_attrs.xml" target="res/values/support_attrs.xml" />
      <resource-file src="src/android/support_styles.xml" target="res/values/support_styles.xml" />
      <resource-file src="src/android/custom_logo.png" target="res/drawable/custom_logo.png" />
      <framework src="src/android/supportsdk.gradle" custom="true" type="gradleReference" />
      <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />
      <lib-file src="src/android/boomtown-boomtownchat-android-release.aar" />
      <lib-file src="src/android/boomtown-video-android-release.aar" />
      <lib-file src="src/android/support-sdk-release.aar" />
      <framework src="com.google.android.material:material:1.1.0" />
      <framework src="com.wefika:flowlayout:0.4.1" />
      <framework src="com.squareup.okhttp3:okhttp:3.14.7" />
      <framework src="org.igniterealtime.smack:smack-android-extensions:4.3.1" />
      <framework src="org.igniterealtime.smack:smack-tcp:4.3.1" />
      <framework src="joda-time:joda-time:2.3" />
      <framework src="pl.droidsonroids.gif:android-gif-drawable:1.2.8" />
      <framework src="org.apache.commons:commons-compress:1.18" />
      <framework src="com.twilio:video-android:6.3.0" />
      <framework src="org.conscrypt:conscrypt-android:2.4.0" />
      <framework src="androidx.legacy:legacy-support-v4:1.0.0" />
      <framework src="androidx.appcompat:appcompat:1.3.0-alpha02" />
      <framework src="com.google.code.gson:gson:2.8.5" />

      <!-- <hook type="after_plugin_install" src="scripts/android/afterPluginInstall.js"/> -->
    </platform>

    <platform name="ios">
      <config-file target="config.xml" parent="/*">
        <feature name="SupportSDK">
          <param name="ios-package" value="SupportSDK" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <config-file parent="NSPhotoLibraryUsageDescription" target="*-Info.plist">
        <string>The photo library is used for file attachments.</string>
      </config-file>
      <config-file parent="NSCameraUsageDescription" target="*-Info.plist">
        <string>The camera is used for video chat and for file attachments.</string>
      </config-file>
      <config-file parent="NSMicrophoneUsageDescription" target="*-Info.plist">
        <string>The microphone is used for videoconference calls.</string>
      </config-file>

      <source-file src="src/ios/SupportSDK.h" />
      <source-file src="src/ios/SupportSDK.m" />

      <!-- <source-file src="src/ios/frameworks/AFNetworking.xcframework" target-dir="lib" framework="true" />
      <source-file src="src/ios/frameworks/CocoaAsyncSocket.xcframework" target-dir="lib" framework="true" />
      <source-file src="src/ios/frameworks/CocoaLumberjack.xcframework" target-dir="lib" framework="true" />
      <source-file src="src/ios/frameworks/KissXML.xcframework" target-dir="lib" framework="true" />
      <source-file src="src/ios/frameworks/libidn.xcframework" target-dir="lib" framework="true" />
      <source-file src="src/ios/frameworks/MTBBarcodeScanner.xcframework" target-dir="lib" framework="true" />
      <source-file src="src/ios/frameworks/SupportSDK.xcframework" target-dir="lib" framework="true" />
      <source-file src="src/ios/frameworks/SVProgressHUD.xcframework" target-dir="lib" framework="true" /> -->
      <!-- <source-file src="src/ios/frameworks/TwilioVideo.xcframework" target-dir="lib" framework="true" /> -->
      <!-- <source-file src="src/ios/frameworks/XMPPFramework.xcframework" target-dir="lib" framework="true" /> -->

      <framework src="src/ios/frameworks/AFNetworking.xcframework" embed="true" custom="true" />
      <framework src="src/ios/frameworks/CocoaAsyncSocket.xcframework" embed="true" custom="true" />
      <framework src="src/ios/frameworks/CocoaLumberjack.xcframework" embed="true" custom="true" />
      <framework src="src/ios/frameworks/KissXML.xcframework" embed="true" custom="true" />
      <framework src="src/ios/frameworks/libidn.xcframework" embed="true" custom="true" />
      <framework src="src/ios/frameworks/MTBBarcodeScanner.xcframework" embed="true" custom="true" />
      <framework src="src/ios/frameworks/SupportSDK.xcframework" embed="true" custom="true" />
      <framework src="src/ios/frameworks/SVProgressHUD.xcframework" embed="true" custom="true" />
      <!-- <framework src="src/ios/frameworks/TwilioVideo.xcframework" embed="true" custom="true" /> -->
      <framework src="src/ios/frameworks/XMPPFramework.xcframework" embed="true" custom="true" />

    </platform>
</plugin>
